body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3faff;
}

/* Header */
header {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Menu */
nav {
  background: #0055aa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  background: #003366;
}

/* Banner */
.banner {
  background: url("https://picsum.photos/1200/300") center/cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

/* Content */
.content {
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
